DJANGO_SECRET_KEY=django-insecure-1234567890
DEBUG=False
CSRF_TRUSTED=your_host
CSRF_TRUSTED_ORIGINS=http://your_host

DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_user
POSTGRES_USER=db_user
POSTGRES_PASSWORD=strong_password
DB_HOST=db
DB_PORT=5432

NGINX_HOST=your_host
SENDGRID_API_KEY='Your Sendgrid API Key
SENDGRID_FROM_EMAIL='your@email.com'